<br /><hr />
<div class="row">
    <!-- edit form column -->
    <div class="alert alert-success alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-pencil-square-o"></i>
        Sorteio Corrente: <strong>{{vm.sorteioCorrente.NumSorteio}} ({{vm.statusCorrente.Descricao}})</strong>
    </div>
    <form class="form" role="form" ng-submit="vm.jogar();">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <label for="txtapostador" class="control-label">Apostador:</label>
                    <input id="txtapostador" type="text" class="form-control" ng-model="vm.nomeApostador"/>
                </div>
             </div>
        </div>
        <div class="form-group col-md-4">
            <div class="">
                <input type="submit" class="btn btn-primary" value="Começar" />
            </div>
        </div>
    </form>
</div>
<hr />
<div class="row" ng-show="vm.apostador">
    <form class="form" role="form" ng-submit="vm.registraAposta();">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <div class="radio">
                        <input type="radio" name="opcaodejogo" value="automatica" class="radio" ng-model="vm.opcaoDeJogo"> Automático<br>
                        <input type="radio" name="opcaodejogo" value="manual" class="radio" ng-model="vm.opcaoDeJogo" checked> Manual<br>
                    </div>
                    <div ng-show="vm.opcaoDeJogo == 'manual'">
                        <div class="form-group" ng-repeat="numero in vm.numerosAposta">
                            <label for="num{{numero.Posicao}}" class="control-label col-sm-1">{{numero.Posicao}}</label>
                            <div class="col-sm-3">
                                <input id="num{{numero.Posicao}}" type="number" class="form-control" 
                                       min="{{vm.tipoSorteioCorrente.MinValorNumero}}" max="{{vm.tipoSorteioCorrente.MaxValorNumero}}" ng-model="numero.Valor" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <strong>Apostas realizadas:</strong> <br />
                        <div ng-show="!vm.apostadorTemApostas()">
                            <strong>Nenhuma aposta registrada até o momento!</strong>
                        </div>
                        <div ng-show="vm.apostadorTemApostas()">
                            <table class="table">
                                <tr>
                                    <th>Id</th>
                                    <th>Hora Aposta</th>
                                    <th>Números</th>
                                </tr>
                                <tr ng-repeat="aposta in vm.apostasApostador">
                                    <td>{{aposta.Id}}</td>
                                    <td>{{aposta.DhAposta | date:'HH:mm:ss dd/MM/yyyy'}}</td>
                                    <td>{{vm.geraColunaNumeros(aposta.Numeros)}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="">
                <input type="submit" class="btn btn-primary" value="Apostar" />
            </div>
        </div>
    </form>
</div>